<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%- title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <span id="backToTop">&nbsp;</span>
    <header class="fixed-top">
      <div>
        <%- include('links') %>
        <%- include('night-mode') %>
      </div>
    </header>
    <main class="container">
      <%- include(page) %>
    </main>
    <footer class="fixed-bottom nav justify-content-end">
      <a href="https://github.com/NerOcrO/replay-without-advertisings" class="btn btn-info"><%= t('Fork me on GitHub') %></a>
      <a href="#backToTop" class="btn btn-dark back-to-top" title="<%= t('Back to top') %>">⇧</a>
    </footer>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <script src="/script.js"></script>
  </body>
</html>
