<nav class="fixed-top" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <% if (locals.titleChannels) { %>
    <li class="breadcrumb-item"><a href="<%- baseUrl %>/"><%- titleChannels %></a></li>
    <% } %>
    <% if (locals.showUrl) { %>
    <li class="breadcrumb-item"><a href="<%- showUrl %>"><%- titleShow %></a></li>
    <% } %>
    <% if (locals.videosUrl) { %>
    <li class="breadcrumb-item"><a href="<%- videosUrl %>"><%- titleVideos %></a></li>
    <% } %>
    <li class="breadcrumb-item active" aria-current="page"><%- title %></li>
  </ol>
</nav>
