<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <% if (typeof titleChannels !== 'undefined') { %>
    <li class="breadcrumb-item"><a href="<%- baseUrl %>/"><%- titleChannels %></a></li>
    <% } %>
    <% if (typeof urlShow !== 'undefined') { %>
    <li class="breadcrumb-item"><a href="<%- urlShow %>"><%- titleShow %></a></li>
    <% } %>
    <% if (typeof urlVideos !== 'undefined') { %>
    <li class="breadcrumb-item"><a href="<%- urlVideos %>"><%- titleVideos %></a></li>
    <% } %>
    <li class="breadcrumb-item active" aria-current="page"><%- title %></li>
  </ol>
</nav>
